extends ../../base-account

block content
    div.account_page
        div.account_page_box
            div.account_page_header.delete_header
                h1 회원 탈퇴
                span 회원 탈퇴 후 해당 사용자에 대한 모든 정보가 삭제됩니다.
                
            hr

            form.account_form.delete_form(method="post" )
                if loggedInUser.socialOnly
                    div.input_box 
                        input(name="email" ,id="email", required , type="email")
                        label(for="email").placeholder 이메일
                        if wrongEmail
                            span.error_message=wrongEmail
                        span GitHub 계정의 이메일을 입력해주세요.
                else
                    div.input_box 
                        input(name="username",id="ID",value=username,required )
                        label(for="ID").placeholder 로그인 아이디
                        if noneID
                            span.error_message=noneID
                        span 로그인 아이디를 입력해주세요.

                    div.input_box 
                        input(name="password",id="pass",required , type="password")
                        label(for="pass").placeholder 비밀번호
                        if wrongPass
                            span.error_message=wrongPass
                    

                    div.input_box 
                        input(name="password2",id="pass2",required , type="password")
                        label(for="pass2").placeholder 비밀번호 확인
                        if nonePass
                            span.error_message=nonePass
                        span 확인을 위해 한번더 입력해 주세요.

                        

                    div.showPass
                        input(type="checkbox" id="showPass")
                        label(for="showPass") 비밀번호 표시
                    

                input#submit(type="submit", value="계정 삭제")


//-
    if errorMessage
        span=errorMessage
    h2 계정 확인
    form(method="post") 
        if loggedInUser.socialOnly
            input( name="email"  placeholder="깃허브 이메일" type="email" required)
        else
            input( name="username"  placeholder="아이디" required)
            input( name="password" placeholder="비밀번호" type="password" required)
            input( name="password2" placeholder="비밀번호 확인" type="password" required)

        input(type="submit" value="Delete Account")
