mixin video(video)
    a(href=`/videos/${video.id}`) video
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;width:300px;height:200px`)   
        div 
            span=video.title
            p=video.description
            ul
                each hashtag in video.hashtags
                    li=hashtag
            img(scr=video.owner.avatarUrl width="50px", height="50px")   
            small Uploaded by #{video.owner.name}
                    
            br
            span 조회수 #{video.meta.views}회
            br
            small=video.createdAt

                //- a(href=`/users/${video.owner._id}`)


    