mixin video(video)
    a.relation-video-mixin(href=`/videos/${video.id}`)
        div.video-mixin_display
            video.video-mixin__video(src="/"+video.fileUrl ) 
            div.video-mixin_cover
                img.video-mixin__thumb(src="/"+video.thumbUrl )
                span.videoTime

        div.video-mixin_data_box
            div.video-mixin_data 
                div.video-mixin_title=video.title
                span.video_owner-name=video.owner.name

                div.video-mixin_meta
                    span.video-mixin_view 조회수 #{video.meta.views}회 •&nbsp; 
                    span.video_createAt(data-id=video.createdAt)

                //- 영상 게시일 1~3일 미만 일경우 '새동영상'표시
                div.new_video 새 동영상
            div.video-mixin_config-icon
                i.fas.fa-ellipsis-vertical 
             
