div.side_var.account_side
    div.side_var_section
        a(href="/users/account/manage", class=selectManage).side_var_btn
            i.fas.fa-user-circle
            span 계정 관리

        a(href="/users/edit", class=selectProfile).side_var_btn
            i.fas.fa-id-card-alt
            span 프로필 수정

        if !loggedInUser.socialOnly 
            a(href="/users/account/edit", class=selectUserInfo).side_var_btn
                i.fas.fa-address-card
                span 계정 정보 변경

            a(href="/users/account/change-password", class=selectPassChange).side_var_btn
                i.fas.fa-key
                span 비밀번호 변경

        else
            a(href="/users/account/edit", class=selectUserInfo).side_var_btn
                    i.fab.fa-github
                    span 계정 정보

        a(href="/users/account/delete", class=selectDelete).side_var_btn
            i.fas.fa-user-times
            span 회원 탈퇴




        hr
    span.none_function  &#8251; 미구현 기능 &#8251;
    
    div.side_var_section 
        div.side_var_btn
            i.fas.fa-shield-alt
            span 보안
        div.side_var_btn
            i.fas.fa-users
            span 사용자 및 공유
        div.side_var_btn
            i.fas.fa-credit-card
            span 결제 및 구독
        div.side_var_btn
            i.fas.fa-info-circle
            span 정보
        hr
        

    footer 
        
        span &copy;  #{new Date().getFullYear()} Newtube

