
div.side_var.account_side
    div.side_var_section
        a(href="/studio/main", class=selectStudioMain).side_var_btn
            i.fas.fa-film
            span NewTube 스튜디오
        a(href="/videos/upload", class=selectUpload).side_var_btn
            i.fas.fa-upload
            span 동영상 업로드
        
        a(href="/videos/record", class=selectRecord).side_var_btn
            i.fas.fa-video
            span 동영상 촬영
        a(href="/videos/manage", class=selectVideosManage).side_var_btn
            i.fas.fa-file-video
            span 동영상 관리

    hr
    footer 
        
        span &copy;  #{new Date().getFullYear()} Newtube

