header 
    div.header_left
        a(href="/").header_logo 
            i.fab.fa-youtube 
            span NewTube 
                small KR
        if logoTextAccount
            span=logoTextAccount
        if logoTextStudio
            span=logoTextStudio

                
    nav 
        ul  
            if loggedIn
                
                //-  li
                        div.upload_btn
                            i.fas.fa-upload
                            div.upload_text 업로드
                            div.upload_box.hidden
                                a(href="/videos/upload") 
                                    i.fas.fa-file-video
                                    span 내 동영상 파일 업로드
                                a(href="/videos/record") 
                                    i.fas.fa-video
                                    span 지금 촬영하기
                        
                li 
                    div.menu
                        div.menu_open_btn
                            if loggedInUser.socialOnly 
                                img.header_avatar(src=loggedInUser.avatarUrl,crossorigin)
                            else
                                if loggedInUser.defaultAvartar
                                    img.header_avatar(src=loggedInUser.avatarUrl,crossorigin)
                                else
                                    img.header_avatar(src="/" + loggedInUser.avatarUrl)
                        div#menuBox.menu_box.hidden
                            div.menu_box_header
                                if loggedInUser.socialOnly 
                                    img.user_info_avatar(src=loggedInUser.avatarUrl,crossorigin)
                                else
                                    if loggedInUser.defaultAvartar
                                        img.user_info_avatar(src=loggedInUser.avatarUrl,crossorigin)
                                    else
                                        img.user_info_avatar(src="/" + loggedInUser.avatarUrl)
                                div.user_info-text  
                                    span.user_name=loggedInUser.name   
                                    a(href="/users/account/manage") 내 계정 관리
                                    //- account 페이지로 이동               
                            hr
                            div.menu-btn-list
                                a.menu-btn(href=`/`) 
                                    div.menu-btn-left
                                        i.fas.fa-home
                                        span NewTube 홈
                                        
                            div.menu-btn-list
                                a.menu-btn(href=`/users/${loggedInUser._id}`) 
                                    div.menu-btn-left
                                        i.fas.fa-tv
                                        span 내 채널
                                a.menu-btn(href="/users/edit") 
                                    div.menu-btn-left
                                        i.fas.fa-user-circle
                                        span 프로필 수정
                                a.menu-btn(href="/studio/main")
                                    div.menu-btn-left
                                        i.fas.fa-film
                                        span NewTube 스튜디오
                                

                                a.menu-btn(href="/users/logout") 
                                    div.menu-btn-left
                                        i.fas.fa-door-open
                                        span 로그아웃
                                

                                hr
                                div.menu-btn
                                    div.menu-btn-left
                                        i.fas.fa-globe
                                        if loggedInUser.location
                                            span 위치 : #{loggedInUser.location}
                                        else 
                                            span 위치 : (알 수 없음)

                                div.menu-btn#shortcutBtn
                                    div.menu-btn-left
                                        i.fas.fa-keyboard
                                        span 단축키 설명서
                                div.menu-btn#themaSelectBtn
                                    div.menu-btn-left
                                        i.fas.fa-moon
                                        if Theme === "white"
                                            span 테마 : 밝은 테마
                                        else 
                                            span 테마 : 어두운 테마
                                    div.menu-btn-right
                                        i.fas.fa-chevron-right
                                

                                hr
                                span.none_function &#8251; 미구현 기능 &#8251;
                                div.menu-btn 
                                    div.menu-btn-left
                                        i.fas.fa-cog
                                        span 설정
                                
                                
                                    div.menu-btn-right
                                        i.fas.fa-chevron-right
                                div.menu-btn
                                    div.menu-btn-left
                                        i.fas.fa-language
                                        span 언어 : 한국어 
                                    div.menu-btn-right
                                        i.fas.fa-chevron-right
                                
                        
                        div#themaSelector.menu_box.hidden
                            div.menu_box_header 
                                i.fas.fa-chevron-left#backIcon
                                span 테마 설정
                            hr
                            div.menu-btn-list
                                if Theme === "white"
                                    div#white.menu-btn.select
                                        div.menu-btn-left
                                            i.fas.fa-check
                                            span 밝은 테마 
                                    div#black.menu-btn
                                        div.menu-btn-left
                                            i.fas.fa-check
                                            span 어두운 테마
                                else 
                                    div#white.menu-btn
                                        div.menu-btn-left
                                            i.fas.fa-check
                                            span 밝은 테마 
                                    div#black.menu-btn.select
                                        div.menu-btn-left
                                            i.fas.fa-check
                                            span 어두운 테마
                                


                           

                
            else
                li 
                    a(href="/join") 회원가입
                li 
                    a(href="/login").login_btn 로그인
                


