extends ../base.pug

block content

    div.profile-page
        //- if user.wallPaper 추가
        if user.wallPaper
            div.wallPaper
        div.user_info
            div.user_info-left
                if user.socialOnly 
                    img.user_avatar(src=user.avatarUrl,crossorigin )
                else
                    if user.defaultAvartar
                        img.user_avatar(src=user.avatarUrl,crossorigin)
                    else
                        img.user_avatar(src="/" + user.avatarUrl ) 
                div.user_info-text
                    span.user_info-name=user.name
                    span.user_info-data 구독자 n명 | 동영상 #{user.videos.length}개
                    if user.chDiscription
                        span.user_info-des=user.chDiscription
                            i.fas.fa-chevron-right
                    if loggedInUser._id === id
                        a.profile_edit-btn(href="/users/edit") 내 프로필 수정
                            i.fas.fa-chevron-right
                        a.profile_edit-btn(href="/videos/manage") 내 동영상 관리
                            i.fas.fa-chevron-right
            div.user_info-rigth
        nav.profile_nav 
            a(href=`/users/${id}`, class=selectChannelHome).profile_nav_btn 홈
            a(href=`/users/${id}/info`, class=selectChannelInfo).profile_nav_btn 정보

        div.channel_info
            div.channel_info_left
                div
                    h1 설명
                    if user.chDiscription
                        span.channel_info-des=user.chDiscription
                    else
                        span.none_des (채널 설명 없음)
                div
                    h1 세부정보
                    if user.location
                        span.channel_info-location 위치 : #{user.location}
                    else
                        span.channel_info-location 위치 : (알 수 없음)
                    
            div.channel_info_rigth
                h1 통계
                span 가입일 : #{joinDate}
                span 총 조회수 : #{totalViews}회

    if smallPlayer
        include ../partials/smallPlayer

block scripts
    script(src="/ast/js/smallPlayer.js")

