extends ../base.pug

block content

    div.imgDisplay
        if loggedInUser.socialOnly 
                img.now_avatar(src=loggedInUser.avatarUrl,crossorigin )
        else
            if loggedInUser.defaultAvartar
                img.now_avatar(src=loggedInUser.avatarUrl,crossorigin  data-id="defualt")
            else
                img.now_avatar(src="/" + loggedInUser.avatarUrl)
        div.circle
    small 실제로 표시되는 부분은 점선 안의 영역과 같습니다.   
    if errorMessage
        span=errorMessage
    form(method="post" enctype="multipart/form-data" )
        //-label(for="avatar") Avatar
        
        
        div.profile_selector
            each defaultAvatar in defaultAvatars
                img(src=defaultAvatar width="50px", height="50px")
            label.file_button( for="avatar" ) 
                i.fas.fa-plus
                input(name="avatar" type="file" id="avatar" accept="image/*")
                
                //-i.fas.fa-plus
        small 업로드 가능한 프로필 사진 용량은 최대 3MB 입니다.        
            
        br
        br
        input(name="name", placeholder="사용자 이름", value=loggedInUser.name , required )
        input(name="email",placeholder="이메일",value=loggedInUser.email, type="email", required )
        input(name="username", placeholder="아이디", value=loggedInUser.username,required , )
        input(name="location" ,placeholder="지역",value=loggedInUser.location ,)
        
        input#submit(type="submit", value="변경사항 저장",)
        if !loggedInUser.socialOnly
            hr
            a(href="/users/edit/change-password") 비밀번호 변경
        br
        a(href="/users/account/delete") 회원 탈퇴
            //- a(href="change-password") 비밀번호 변경 &#10132;   


block scripts    
    script(src="/ast/js/editProfile.js")
